/*chpter 1*/
/*style of chapter 1*/

body {
    font-family: Arial, Verdana, sans-serif;}
    h1, h2 {
    color: #ee3e80;}
    p {
    color: #665544;}
    /*chapter 2*/
    /*style of chapter 2*/
    
    